.center {
  padding: 50px;
  background: lightblue;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.badge {
  font-size: 100%;
}
.online-users li{
  background-color: #dcf8c661;
}
.navbar-chat{
  background-color: #dcf8c661;
}
