<div class="container">
  <nav class="navbar navbar-light navbar-chat">
    <span class="badge badge-info">{{user.email}}</span>
    <button type="button" class="btn btn-dark" (click)="logout()">Exit</button>
  </nav>


  <div class="row">

    <div class="col-4">

      <div *ngIf="users">

        <ul class="list-group online-users" *ngFor="let userOb of users">

          <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="userOb.isOnline || user.isAdmin"
          >
            <div class="d-flex bd-highlight mb-3">
              <div class="p-2 bd-highlight w-100">
                {{userOb.email}}
                <span
                  class="badge badge-primary badge-pill"
                  *ngIf="userOb.isOnline"
                >
                  0
                </span>
              </div>
              <div class="p-2 flex-shrink-1 bd-highlight">

                <div class="d-flex flex-column bd-highlight mb-2">

                  <div class="p-2 bd-highlight" *ngIf="user.isAdmin">
                    <button
                      type="button"
                      class="btn btn-warning btn-sm"
                      (click)="onMute(userOb.id)"
                    >
                      {{userOb.isMute ? 'UnMute' : 'Mute'}}
                    </button>
                  </div>
                  <div class="p-2 bd-highlight">
                    <button
                      type="button"
                      class="btn btn btn-danger btn-sm"
                      (click)="onBan(userOb.id)"
                    >
                      {{userOb.isBan ? 'UnBan' : 'Ban'}}
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </li>

        </ul>

      </div>
    </div>

    <div class="col-8">
      <div class="text-center" *ngIf="isExistPreviousMessage">
        <button type="button" (click)="showPreviousMessage($event)" class="btn btn-info">Show Previous Message!</button>
      </div>


      <div class="conversation" *ngIf="messages && messages.length !== 0">

        <div *ngFor="let message of messages">
          <div class="{{message.userId !== user.id ? 'sender' : 'receiver'}} rounded">
            <div class="d-flex flex-row{{message.userId !== user.id ? '' : '-reverse '}} bd-highlight mb-3">
              <div class="p-2 bd-highlight" [style.background-color]=message.color>
                {{message.comment}}
              </div>
            </div>
          </div>
        </div>

        <div>
          <form
            class="form-inline"
            [formGroup]="form" (ngSubmit)="onSubmit()"
          >
            <div class="form-group mx-sm-3 mb-2">
               <textarea
                 class="form-control"
                 rows="3"
                 id="comment"
                 formControlName="comment"
                 [ngClass]="{'invalid': form.get('comment').invalid && form.get('comment').touched}"
                 [readonly]="user.isMute"
               >
          </textarea>
              <span
                *ngIf="form.get('comment').invalid && form.get('comment').touched"
                class="helper-text red-text">
          Enter correct comment
        </span>

            </div>

            <button
              type="submit"
              class="btn btn-primary mb-2"
              [disabled]="form.disabled || form.invalid || user.isMute || !isCanSendMessage"
            >
              Send
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
